{% extends "base.html" %}

{% block title %}
    图书管理
{% endblock %}

{% block content %}

    <div class="panel panel-primary" xmlns="http://www.w3.org/1999/html">
    {# 反爬虫验证   #}
    {% csrf_token %}

    {#  书籍表格 #}
    <table id="mytable" class="table table-hover table-responsive">
        <caption> 图书管理</caption>
        <thead>
        {#    表头    #}
            <tr>
                <th>ISBN</th>
                <th>名称</th>
                <th>作者</th>
                <th>出版社</th>
                <th>出版年份</th>
                <th>类型</th>
                <th>总量</th>
                <th>剩余数量</th>
                <th>操作</th>
            </tr>
        </thead>

        {#   表格内容     #}
        {% for item in booklist %}

            <tr>

            <th>{{ item.book_id }}</th>
            <th>{{ item.book_name}}</th>
            <th>{{ item.author}}</th>
            <th>{{ item.press}}</th>
            <th>{{ item.publication_year }}</th>
            <th>{{ item.category_id }}</th>
            <th>{{ item.inventory }}</th>
            <th>{{ item.remain_num}}</th>
            <th>

            {#    按钮      #}

                <button class="btn  btn-success" data-toggle="modal" data-target="#{{ item.book_id }}" style="font-family: 微软雅黑" >
                    修改
                </button>

                <!-- 模态框（Modal） -->
                <div class="modal fade" id={{ item.book_id }} tabindex="-1" role="dialog"
                   aria-labelledby="myModalLabel" aria-hidden="true">
                   <div class="modal-dialog">
                      <div class="modal-content">
                         <div class="modal-header">
                            <button type="button" class="close"
                               data-dismiss="modal" aria-hidden="true">
                                  &times;
                            </button>
                            <h4 class="modal-title" id="myModalLabel">
                               修改书籍信息
                            </h4>
                         </div>
                         <div class="modal-body">

                             {#表单#}
                            <form method='post' role="form" class="form-horizontal" >
                            {% csrf_token %}


                                {#表单内容 #}
                                <div class="form-group">
                                    <label class="control-label col-md-2">书籍编号</label>
                                    <div class="col-md-6">
                                        <input readonly="true" type="text" class="form-control" name="book_id" value={{ item.book_id }} >
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-2">书籍名称</label>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" name="book_name" value={{ item.book_name }}>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-2">作者名称</label>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" name="author" value={{ item.author }}>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-2">出版社</label>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" name="press" value={{ item.press }}>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-2">出版年份</label>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" name="publication_year" value={{ item.publication_year }}>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-2">类型</label>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" name="category_id" value={{ item.category_id }}>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-2">增加总数至</label>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" name="inventory" value={{ item.inventory }}>
                                    </div>
                                </div>

{#                                <a href={% url 'editbook' item.book_id %} type="submit" class="btn btn-primary" onclick= "return confirm('是否确认修改？')">#}
{#                                    提交更改#}
{#                                </a>#}
                                {#    按钮        #}
                                <div class="col-md-offset-1">
                                    <button type="submit" class="btn btn-danger">确认提交</button>
                                </div>


                            </form>

                         </div>
                         <div class="modal-footer">
                            <button type="button" class="btn btn-default"
                               data-dismiss="modal">关闭
                            </button>
                         </div>
                      </div><!-- /.modal-content -->
                </div><!-- /.modal -->

                </div>

                <a  href={% url 'delbook' item.book_id %} onclick= "return confirm('是否确认删除？')">
                    <span class="btn  btn-danger" style="font-family: 微软雅黑">
                        删除
                    </span>
                </a>

            </th>
            </tr>
        {% endfor %}

    </table>


    </div>
{% endblock %}
