{% extends "base.html" %}

{% block title %}
    图书管理
{% endblock %}

{% block content %}

    <div class="well">
    {# 反爬虫验证   #}
    {% csrf_token %}

    {#  书籍表格 #}
    <table class="table table-striped">
        <caption> 图书管理</caption>
        <thead>
        {#    表头    #}
            <tr>
                <th>ISBN</th>
                <th>名称</th>
                <th>作者</th>
                <th>出版社</th>
                <th>出版年份</th>
                <th>类型</th>
                <th>库存数量</th>
                <th>操作</th>
            </tr>
        </thead>

        {#   表格内容     #}
        {% for item in booklist %}

            <th>{{ item.book_id }}</th>
            <th>{{ item.book_name}}</th>
            <th>{{ item.author}}</th>
            <th>{{ item.press}}</th>
            <th>{{ item.publication_year }}</th>
            <th>{{ item.category_id }}</th>
            <th>{{ item.inventory }}</th>
            <th>

            {#    按钮      #}

                <button class="glyphicon glyphicon-pencil btn btn-xs btn-success" data-toggle="modal" data-target="#myModal" style="font-family: 微软雅黑">
                    修改
                </button>


                <a  href={% url 'delbook' item.book_id %} onclick= "return confirm('是否确认删除')">
                <span class="glyphicon glyphicon-trash btn btn-xs btn-danger" style="font-family: 微软雅黑">删除
                </span></a>

            </th>
        {% endfor %}

    </table>


    </div>
{% endblock %}
