{% extends "base.html" %}

{% block title %}
    罚款规则
{% endblock %}

{% block content %}
    <div style="font-size: 18px;font-family:'微软雅黑';">
        <h2 align="center">罚款规则</h2>
            <p>为加强馆藏资源管理工作，维护大多数读者利益，确保书刊的合理、高效利用，制定本规定。</p>
                一、读者应及时归还所借书刊。读者应在寒、暑假期内归还的图书，必须在开学后10日内还清。假期前或开学后到期的图书，按正常借阅期限规定执行。</p>
            <p>
                二、借阅书刊逾期处理：
                1．外借书刊超过借阅期的，每册每超一天，罚款0.10元。
                2．阅览室图书逾期的，每册每超一天，罚款0.50元。
            </p>
            <p>
                三、损坏书刊处理：读者在借阅书刊时，必须当面检查，如发现污损、勾画、撕页等情况，当面报告工作人员，及时处理。否则，还书时按下列规定处理。
                1．勾画、污损、表皮破损者，处以2—5元罚款，并给予口头批评教育；程度严重者，致使书刊不能再流通，按遗失图书赔偿。
                2．剪裁、撕割书刊者，按原书定价的10倍罚款。
                3．损坏书刊条形码、磁条者，罚款5元。
            </p>
            <p>
                四、丢失书刊处理：丢失书刊应在归还日期之前向借书处报告，并赔偿原书，另付2元图书加工费。超过应还日期，又无法赔偿原书，分别按下列规定进行赔偿：
                1．中文图书
                （1）1985年前出版的，按原价的１0倍+2元（图书加工费）。
                （2）1985-1995年出版的，按原价的5倍+2元（图书加工费）。
                （3）1995年后出版的，按原价的3倍+2元（图书加工费）。
                （4）孤本书、工具书、含图表的图书，不论年代，均按原书价的10—30倍赔偿。
                2．外文图书
                （1）1980年前出版的，按原价（无定价的图书，每册按40元计价）的20倍+2元（图书加工费）。
                （2）1980年后出版的，按原价（无定价的图书，每册按40元计价）的10倍+2元（图书加工费）。
                （3）赠书按40元（册）的10倍+2元（图书加工费）。
                3．丢失整套图书(多卷书或分册、分辑出版的图书)的赔偿标准。丢失多卷书或分册、分辑出版的图书中的1卷（册、辑），按整套书价的1-3倍赔偿。
                4．丢失期刊赔偿标准：
                （1）中文期刊：单本期刊按单本价格的5倍赔偿；合订本期刊按其价格3～5倍赔偿，并收取装订费10元。
                （2）外文期刊：
                .1980年前出版的外文期刊，按现价的10倍赔偿。
                .1980年后出版的外文期刊，按原价的10倍赔偿。
            </p>

            <p>
                五、偷窃书刊、偷梁换柱或有意不还所借图书而赔书的，一经发现，除按以上规定进行赔偿外，每本处以200元罚款，责令本人写出书面检查，通报本人所在单位，在图书馆张榜公布，存档备考，情节严重者建议学校进行处理。未办理借阅手续，将书刊带出阅览室的，按偷窃书论处。
            </p>
            <p>
                六、遇有其他特殊情况，流通部根据具体情况会同有关部门予以处理，或报上级主管部门处理。
           </p>
    </div>

{% endblock %}