{% extends "base.html" %}


{% block title %}
    个人记录
{% endblock %}

<body>
{% block content %}
    <link rel="stylesheet" type="text/css" href="/static/css/timeline/history.css">
{#    <script type="text/javascript" src="/static/js/timeline/jquery.js"></script>#}
    <script type="text/javascript" src="/static/js/timeline/jquery.mousewheel.js"></script>
    <script type="text/javascript" src="/static/js/timeline/jquery.easing.js"></script>
    <script type="text/javascript" src="/static/js/timeline/history.js"></script>
<div id="arrow">
	<ul>
		<li class="arrowup"></li>
		<li class="arrowdown"></li>
	</ul>
</div>

<div id="history">

	<div class="title">
		<h2>个人记录</h2>
		<div id="circle">
			<div class="cmsk"></div>
			<div class="circlecontent">
				<div thisyear="2013" class="timeblock">
					<span class="numf"></span>
					<span class="nums"></span>
					<span class="numt"></span>
					<span class="numfo"></span>
					<div class="clear"></div>
				</div>
				<div class="timeyear">YEAR</div>
			</div>
			<a href="#" class="clock"></a>
		</div>
	</div>

	<div id="content">

		<ul class="list">

            {% for item in recordlist %}

                    <li >
                        <div class="liwrap">
                            <div class="lileft">
                                <div class="date">
{#                                    <span class="year">{{ item.record_date.year }}</span>#}
                                    <span class="md">{{ item.record_date.date}}</span>
                                </div>
                            </div>

                            <div class="point"><b></b></div>

                            <div class="liright">
                                <div class="histt">{{ item.record_introduct }}</div>
{#                                <div class="hisct">{{ item.record_introduct }}</div>#}
                            </div>
                        </div>
                    </li>

            {% endfor %}


		</ul>
	</div>
</div>
{% endblock %}