<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        
        <title>{% block title %}{% endblock %}</title>
        
        <!-- Bootstrap -->
        <link href="/static/css/jquery.dataTables.min.css">
        <link href="/static/css/bootstrap.css" rel="stylesheet">


        <script src="/static/js/jquery-1.11.0.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/js/jquery.dataTables.min.js"></script>

        <link href="/static/css/dataTables.bootstrap.min.css">
        <script src="/static/js/dataTables.bootstrap.min.js"></script>

        <script>
            $(document).ready(function(){
                $('#mytable').dataTable({
                    "aoColumnDefs":[
                        {   "sWidth": "20%","aTargets":[0]},
                        {   "sWidth": "20%","aTargets":[1]},
                        {   "sWidth": "20%","aTargets":[2]},
                        {   "sWidth": "10%","aTargets":[3]},
                        {   "sWidth": "7%","aTargets":[4]},
                        {   "sWidth": "7%","aTargets":[5]},
                        {   "sWidth": "7%","aTargets":[6]},
                        {   "sWidth": "7%","aTargets":[7]},
                        {   "sWidth": "7%","aTargets":[8]}
                      ],
                     "oLanguage": {
                         "sProcessing": "正在加载中......",
                         "sLengthMenu": "每页显示 _MENU_ 条记录",
                         "sZeroRecords": "正在加载中......",
                         "sEmptyTable": "查询无数据！",
                         "sInfo": "当前显示 _START_ 到 _END_ 条，共 _TOTAL_ 条记录",
                         "sInfoEmpty": "显示0到0条记录",
                         "sInfoFiltered": "数据表中共为 _MAX_ 条记录",
                         "sSearch": "当前数据搜索:",
                         "oPaginate": {
                             "sFirst": "首页",
                             "sPrevious": "上一页",
                             "sNext": "下一页",
                             "sLast": "末页"
                         }
                     },"bJQueryUI": true,
                    "sScrollY": "500px", "sScrollX": "100%"
                })
            });
        </script>
        
        {% block head %}{% endblock %}
        <style type="text/css">
            body {
                padding-top: 70px;
                font-family:"微软雅黑";
            }
            .nav li a{ font-size:16px; }
            .input{ padding-top: 0px; padding-bottom: 0px; margin: 0px; height:10px;}

            ul.errorlist {margin: 0; pandding: 0;}
            .errorlist li {color: red ;}

            .glyphicon { margin-right:10px; }
            .panel-body { padding:0px; }
            .panel-body table tr td { padding-left: 15px }
            .panel-body .table {margin-bottom: 0px; } 
        </style>
    </head>
    
    <body>
        <!-- 导航栏 -->
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">LMS</a>
            </div>

            <div class="collapse navbar-collapse">
                {% if user.is_authenticated %}
                    <ul class="nav navbar-nav">
                        <li {% if request.path = '/' %} class="active" {% endif %}><a href="/">Home</a></li>
                        <li {% if 'about' in request.path %} class="active" {% endif %}><a href="/about">关于</a></li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right" style="padding-right: 1%">
                        <li class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> {{ request.user.username }} <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href={% url "changepasswordurl" %}>修改密码</a></li>
                                <li class="divider"></li>
                                <li><a href={% url "logouturl" %}>注销登陆</a></li>
                            </ul>
                        </li>
                    </ul>
                {% else %}
                    <ul class="nav navbar-nav">
                        <li {% if 'login' in request.path %} class="active" {% endif %}><a href={% url "loginurl" %}>登陆</a></li>
                        <li {% if 'about' in request.path %} class="active" {% endif %}><a href="/about">关于</a></li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right" style="padding-right: 1%">
                        <li {% if 'help' in request.path %} class="active" {% endif %}><a href="#">帮助</a></li>
                    </ul>
                {% endif %}
            </div>
        </div>

        <!-- 内容区域 -->
        <div class="container" style="width:95%">
            <div class="row">
                <div class="col-md-2"> 
                    {% if user.is_authenticated %}
                        <!-- 侧边栏 -->
                        {% include "sidebar.html" %}
                    {% endif %}
                </div>
        
                <div class="col-md-10">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <hr />
            <p class="text-muted">&copy; System 2016-Django==1.6</p>
        </div>

    </body>
</html>
