            <div class="panel-group" id="accordion">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="collapsed"><span class="glyphicon glyphicon-list-alt btn-xs"></span>个人管理</a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse {% if 'personal' in request.path %} in {% endif %}">
                        <div class="panel-body">
                            <table class="table">
                                <tbody><tr>
                                    <td>
                                        <span class="glyphicon glyphicon-tree-conifer btn-xs"></span><a href={% url "status" %}>个人状态</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-tree-conifer btn-xs"></span><a href={% url "borrow" %}>借阅书籍</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-tree-conifer btn-xs"></span><a href={% url "perRecord" %}>个人记录</a>
                                    </td>
                                </tr>
                            </tbody></table>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapsed"><span class="glyphicon glyphicon-list-alt btn-xs"></span>系统管理</a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse {% if 'system' in request.path %} in {% endif %}">
                        <div class="panel-body">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>
                                            <span class="glyphicon glyphicon-tree-conifer btn-xs"></span><a href={% url "savebook" %}>书籍入库</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="glyphicon glyphicon-tree-conifer btn-xs"></span><a href={% url "bookmanage" %}>图书管理</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="glyphicon glyphicon-tree-conifer btn-xs"></span><a href={% url "totalrecord" %}>总体记录</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="collapsed"><span class="glyphicon glyphicon-list-alt btn-xs"></span>用户管理</a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse {% if 'accounts' in request.path %} in {% endif %}">
                        <div class="panel-body">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>
                                            <span class="glyphicon glyphicon-tree-conifer btn-xs"></span><a href={% url "listuserurl" %}>用户管理</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="glyphicon glyphicon-tree-conifer btn-xs"></span><a href={% url "listroleurl" %}>角色管理</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="glyphicon glyphicon-tree-conifer btn-xs"></span><a href={% url "listroleurl" %}>权限管理</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour" class="collapsed"><span class="glyphicon glyphicon-list-alt btn-xs"></span>其他</a>
                        </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse {% if 'other' in request.path %} in {% endif %}">
                        <div class="panel-body">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>
                                            <span class="glyphicon glyphicon-tree-conifer btn-xs"></span><a href=#>罚款明细</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="glyphicon glyphicon-tree-conifer btn-xs"></span><a href=#>系统信息</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
